<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- session濾器 -->
	<filter>
		<filter-name>OpenSessionFilter</filter-name>
		<filter-class>com.asap.filter.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- back單種濾器 -->
	<filter>
		<filter-name>BackLoginFilter</filter-name>
		<filter-class>com.asap.filter.BackLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BackLoginFilter</filter-name>
<!-- 		<url-pattern>/BackStageController</url-pattern> -->
		<url-pattern>/backStage/*</url-pattern>
		<url-pattern>/forum/backstage_forum_report.jsp</url-pattern>
		<url-pattern>/court/addCourt.jsp</url-pattern>
		<url-pattern>/court/updateCourt.jsp</url-pattern>
		<url-pattern>/court/listAllCourts_datatable_Ajax.html</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

</web-app>
